:root{
    --primary-color: #90ee90;
    --bg : #0c942e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:     border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    color: white;
}